<div class="login">
    <div class="text_center">
        <img src="images/top.png">
    </div>
    <form class="form-signin" name="loginForm">
        <div class="logo text_center"><img src="images/logo.png" alt=""></div>
        <div class="line line1 flex_box">
            <div class="qq flex1">
                <input type="number" class="form-control" ng-model="qq" placeholder="QQ号" required="">
            </div>
            <div class="domain">
                @qq.com
            </div>
        </div>
        <div class="line line2">
            <input type="password" ng-model="password" class="form-control" placeholder="密码" required="">
        </div>
        <div class="forget_pwd">
            <a href="javascript:void(0)">忘记密码</a>
        </div>
        <button class="btn btn_submit" type="submit" ng-click="submit()" ng-disabled="loginForm.$invalid">登录</button>
        <div class="other">
            <a class="left" href="#/hr/list">HR登录</a>
            <a class="right" href="#/group/login">群管理员登录</a>
            <div class="clear"></div>
        </div>
    </form>
    <div class="no_user">
        <a href="#/reg">还没有账户？</a>
    </div>
</div>