<style type="text/css">
    .user .left .line1{ background-position: left bottom;}
    .user .left .line1 a{ color: #2bbfbd; }
</style>
<div class="user">
    <div class="top">
        <div ng-include="'tpl/user/top.html'"></div>
    </div>
    <div class="left">
        <div ng-include="'tpl/user/left.html'"></div>
    </div>
    <div class="right">
        <div class="banner"><img src="images/banner.png" alt=""></div>
        <div class="resumes_list">
            <div class="header">
                简历列表
            </div>
            <div class="body">
                <div class="item" ng-repeat="item in items">
                    <div class="title">
                        <div class="floatL">
                            <img src="images/icon-qq-group-resume.png" alt="">
                            <span ng-bind='item.groupName'></span>-<span ng-bind='item.groupId'></span>
                        </div>
                        <div class="floatR">
                            <span class="status status{{item.status}}" ng-bind="item.status | strStatus"></span>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="content">
                        <div class="line line1">姓名：<span ng-bind="item.username"></span></div>
                        <div class="line line2">Email：<span ng-bind="item.email"></span></div>
                        <div class="line line3">QQ：<span ng-bind="item.qq"></span></div>
                        <div class="line line4">工作年限：<span ng-bind="item.yearsOfWorking"></span></div>
                        <div class="line line5">学历：<span ng-bind="item.education | strEdu"></span></div>
                    </div>
                    <div class="footer">
                        <div class="floatL">
                            <a href="#/resume/edit/{{ item.groupId }}">编辑</a>
                            <a href="javascript:void(0)" ng-click="delete(item.groupId)">删除</a>
                        </div>
                        <div class="floatR">
                            <a href="#/resume/{{ item.groupId }}">查看更多</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div style="width: 100%; height: 1px;"></div>
        </div>
    </div>
</div>
