<style type="text/css">
    .user .left .line1{ background-position: left bottom;}
    .user .left .line1 a{ color: #2bbfbd; }
</style>
<div class="user">
    <div class="top" ng-include="'tpl/user/top.html'"></div>
    <div class="left" ng-include="'tpl/user/left.html'"></div>
    <div class="right">
        <div class="banner"><img src="images/banner.png" alt=""></div>
        <div class="resumes_list">
            <div class="header">
                简历列表
            </div>
            <div class="body">
                <div class="item" ng-repeat="item in items" ng-hide="item.hide">
                    <div class="title">
                        <div class="floatL ellipsis_txt" title="{{item.groupName}}-{{item.groupId}}">
                            <img ng-src="http://p.qlogo.cn/gh/{{ item.groupId }}/{{ item.groupId }}/40" alt="">
                            <span ng-bind='id2name[item.groupId]'></span>-<span ng-bind='item.groupId'></span>
                        </div>
                        <div class="floatR">
                            <span class="status status{{item.status}}" ng-bind="item.status | strStatus"></span>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="content">
                        <div class="line line1">群ID：<span ng-bind="item.groupId"></span></div>
                        <div class="line line2">期望职位：<span ng-bind="item.jobTitle"></span></div>
                        <div class="line line3">QQ：<span ng-bind="item.qq"></span></div>
                        <div class="line line4">更新时间：<span ng-bind="item.lastDate | date:'yyyy-MM-dd'"></span></div>
                        <div class="line line5">别人可见：<span ng-bind="item.display | strBool"></span></div>
                    </div>
                    <div class="footer">
                        <div class="floatL">
                            <a href="#/resume/edit/{{ item.groupId }}">编辑</a>
                            <a href="javascript:void(0)" ng-click="delete(item)">删除</a>
                        </div>
                        <div class="floatR">
                            <a href="#/resume/{{ item.groupId }}">查看更多</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div style="width: 100%; height: 1px;"></div>
        </div>
    </div>
</div>