<div class="container flex_box user">
    <div ng-include="'tpl/user/left.html'"></div>
    <div class="right flex1">
        <div class="flex_box">
            <div class="flex1">群ID</div>
            <div class="flex1">Email</div>
            <div class="flex1">状态</div>
            <div class="flex1">最后更新</div>
            <div class="flex1"> </div>
        </div>
        <div ng-repeat="item in items" style="height: 30px; line-height: 30px; cursor: pointer;">
            <div class="flex_box">
                <div class="flex1" ng-bind='item.groupId' ng-click='openResume(item.groupId)'></div> 
                <div class="flex1" ng-bind='item.email' ng-click='openResume(item.groupId)'></div>
                <div class="flex1" ng-bind='item.status | strStatus' ng-click='openResume(item.groupId)'></div>
                <div class="flex1" ng-bind='item.lastDate' ng-click='openResume(item.groupId)'></div>
                <div class="flex1" ng-click="delete(item.groupId)">删除</div>
            </div>
        </div>
    </div>
</div>