<style type="text/css">
    .user .left .line1{ background-position: left bottom;}
    .user .left .line1 a{ color: #2bbfbd; }
</style>
<div class="user">
    <div class="top">
        <div ng-include="'tpl/user/top.html'"></div>
    </div>
    <div class="left">
        <div ng-include="'tpl/user/left.html'"></div>
    </div>
    <div class="right">
        <div class="banner"><img src="images/banner.png" alt=""></div>
        <div class="resume">
            <div class="header">
                简历列表 > 简历正文
            </div>
            <div class="body">
            	<div class="title">
            		<div class="floatL ellipsis_txt">
            			<img ng-src="http://p.qlogo.cn/gh/{{ data.groupId }}/{{ data.groupId }}/50" alt="">
                    	<span ng-bind='data.groupName'></span>-<span ng-bind='data.groupId'></span>
            		</div>
            		<div class="floatL">
            			<a href="#/resume/{{ edit }}{{data.groupId}}" ng-show="isExist" class="edit_btn floatR">编辑</a>
            			<div class="inline_block floatR delete_btn" ng-show="isExist" ng-click="delete()">删除</div>
            		</div>
            		<div class="clear"></div>
            	</div>
            	<div class="status status{{ data.status }}" ng-bind='data.status | strStatus'></div>
            	<div class="show" ng-hide="canEdit">
            		<div class="line line1">
			    		<div class="key inline_block">职位名:</div>
			    		<div class="value inline_block" ng-bind='data.jobTitle'></div>
			    	</div>
			    	<div class="line line2">
			    		<div class="key inline_block">Email:</div>
			    		<div class="value inline_block" ng-bind='data.email'></div>
			    	</div>
			    	<div class="line line3">
			    		<div class="key inline_block">姓名:</div>
			    		<div class="value inline_block" ng-bind='data.username'></div>
			    	</div>
			    	<div class="line line4">
			    		<div class="key inline_block">qq:</div>
			    		<div class="value inline_block" ng-bind='data.qq'></div>
			    	</div>
			    	<div class="line line5">
			    		<div class="key inline_block">年龄:</div>
			    		<div class="value inline_block" ng-bind='data.age'></div>
			    	</div>
			    	<div class="line line6">
			    		<div class="key inline_block">性别:</div>
			    		<div class="value inline_block" ng-bind='data.sex | strSex'></div>
			    	</div>
			    	<div class="line line7">
			    		<div class="key inline_block">工作年限:</div>
			    		<div class="value inline_block" ng-bind='data.yearsOfWorking'></div>
			    	</div>
			    	<div class="line line8">
			    		<div class="key inline_block">学校:</div>
			    		<div class="value inline_block" ng-bind='data.school'></div>
			    	</div>
			    	<div class="line line9">
			    		<div class="key inline_block">学历:</div>
			    		<div class="value inline_block" ng-bind='data.education | strEdu'></div>
			    	</div>
			    	<div class="line line11">
			    		<div class="key inline_block">最后更新：</div>
			    		<div class="value inline_block" ng-bind="data.lastDate | date:'yyyy-MM-dd'"></div>
			    	</div>
			    	<div class="line line12">
			    		<div class="key inline_block">别人可见：</div>
			    		<div class="value inline_block" ng-bind='data.display | strBool'></div>
			    	</div>
			    	<div class="line13">
			    		<div class="key inline_block">其它：</div>
			    		<div class="value inline_block">
			    			<pagedown-viewer content="data.content"></pagedown-viewer>
			    		</div>
			    	</div>
		    	</div>
		    	<form name="myForm" class="edit" ng-show="canEdit">
		    		<div class="line line1">
			    		<div class="key inline_block">职位名:</div>
			    		<div class="value inline_block">
			    			<input type="text" required="" class="form-control" ng-model='data.jobTitle'>
			    		</div>
			    	</div>
			    	<div class="line line2">
			    		<div class="key inline_block">Email:</div>
			    		<div class="value inline_block">
			    			<input type="email" required=""  class="form-control" ng-model='data.email'>
			    		</div>
			    	</div>
			    	<div class="line line3">
			    		<div class="key inline_block">姓名:</div>
			    		<div class="value inline_block">
			    			<input type="text" required="" class="form-control" ng-model='data.username'>
			    		</div>
			    	</div>
			    	<div class="line line4">
			    		<div class="key inline_block">qq:</div>
			    		<div class="value inline_block">
			    			<input type="number" required=""  class="form-control" ng-model='data.qq'>
			    		</div>
			    	</div>
			    	<div class="line line5">
			    		<div class="key inline_block">年龄:</div>
			    		<div class="value inline_block">
			    			<input type="number" required="" class="form-control" ng-model='data.age'>
			    		</div>
			    	</div>
			    	<div class="line line6">
			    		<div class="key inline_block">性别:</div>
			    		<div class="value inline_block">
			    			<select
		                    ng-options="option.id as option.name for option in data.sexOptions"
		                    ng-model="data.sex">
		                </select>
		                </div>
			    	</div>
			    	<div class="line line7">
			    		<div class="key inline_block">工作年限:</div>
			    		<div class="value inline_block">
			    			<input type="number" required=""  class="form-control" ng-model='data.yearsOfWorking'>
			    		</div>
			    	</div>
			    	<div class="line line8">
			    		<div class="key inline_block">学校:</div>
			    		<div class="value inline_block">
			    			<input type="text" required="" class="form-control" ng-model='data.school'>
			    		</div>
			    	</div>
			    	<div class="line line9">
			    		<div class="key inline_block">学历:</div>
			    		<div class="value inline_block">
			    			<select
		                    ng-options="option.id as option.name for option in data.eduOptions"
		                    ng-model="data.education">
		                </select>
		                </div>
			    	</div>
			    	<div class="line line12">
			    		<div class="key inline_block">别人可见：</div>
			    		<div class="value inline_block">
			    			<input type="checkbox" class="" ng-model="data.display">
			    		</div>
			    	</div>
			    	<div class="line13">
			    		<div class="key inline_block">其它：</div>
			    		<div class="value inline_block">
			    			<pagedown-editor ng-model='data.content' content="content" placeholder="Markdown编辑器"></pagedown-editor>
			    		</div>
			    	</div>
			    	<div class="line text_left">
			    		<div class="key inline_block"> </div>
			    		<div class="value inline_block">
			    			<button class="btn submit_btn" ng-disabled="myForm.$invalid || !myForm.$dirty" ng-show="isExist" ng-click="submit()">提交</button>
			    			<button class="btn submit_btn" ng-disabled="myForm.$invalid || !myForm.$dirty" ng-hide="isExist" ng-click="post()">申请入群</button>
			    		</div>
			    	</div>
		    	</form>
            </div>
            <div style="width: 100%; height: 1px;"></div>
        </div>
    </div>
</div>
<style type="text/css">
	.login_alert{ position: absolute; top:0px; left: 0px; width: 100%; height: 100%; z-index: 9999999; background-color: rgba(0,0,0,0.8); padding-top: 15em;}
	.login_alert .form-signin{ padding-top: 1em; }
</style>
<div class="login login_alert" ng-show="showLogin">
    <form class="form-signin" name="loginForm">
        <div class="line line1 flex_box">
            <div class="qq flex1">
                <input type="number" class="form-control" ng-model="loginQQ" placeholder="QQ号" required="">
            </div>
            <div class="domain">
                @qq.com
            </div>
        </div>
        <div class="line line2">
            <input type="password" ng-model="loginPassword" class="form-control" placeholder="密码" required="">
        </div>
        <div class="forget_pwd">
            <a href="javascript:void(0)">忘记密码</a>
        </div>
        <button class="btn btn_submit" type="submit" ng-click="loginSubmit()" ng-disabled="loginForm.$invalid">登录</button>
        <div class="other">
            <a class="left" href="#/hr/list">HR登录</a>
            <a class="right" href="#/group/login">群管理员登录</a>
            <div class="clear"></div>
        </div>
    </form>
    <div class="no_user">
        <a href="#/reg">还没有账户？</a>
    </div>
</div>
