<div class="container">
    <h2 class="form-signin-heading">权限管理 <a href="#/group" class="small">返回首页</a></h2>
    <div class="flex_box group">
        <div ng-include="'tpl/group/left.html'"></div>
        <div class="right flex1">
            <div ng-show="show" class="list">
                <div ng-repeat="item in items" >
                    <div class="adm-box panel panel-default">
                        <div class="panel-heading">
                            用户名:<span ng-bind="item.qq"></span>
                            状态:<span ng-bind="item.status"></span>
                            <a ng-click="delete(item.id)" href="javascript:void(0)">删除</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ctn text_left">
                <label>添加
                    <input type="checkbox" ng-model="showAddWindow">
                </label>
            </div>
            <div ng-show="showAddWindow">
                <div class="line flex_box line1">
                    <div class="title">Email</div>
                    <div class="value flex1"><input type="number" ng-model="add.qq">@qq.com</div>
                </div>
                <div class="line flex_box line2">
                    <div class="title">密码</div>
                    <div class="value flex1"><input type="password" ng-model="add.password"></div>
                </div>
                <div class="line flex_box line3">
                    <div class="title">确认码</div>
                    <div class="value flex1"><input type="password" ng-model="add.repassword"></div>
                </div>
                <div class="ctn text_left">
                    <button class="btn btn-primary" ng-click="post()">确认添加</button>
                </div>
            </div>
            
        </div>
    </div>
</div>