<div class="group_reg">
    <div class="text_center">
        <img src="images/top.png">
    </div>
    <form class="form-signin" name="reg">
        <div class="logo text_center"><img src="images/logo.png" alt=""></div>
        <div class="line line1">
            <input type="text" class="form-control" ng-model="groupId" placeholder="群Id" required="" autofocus="">
        </div>
        <div class="line line2">
            <input type="text" class="form-control" ng-model="groupName" placeholder="群名" required="">
        </div>
        <div class="line line3 flex_box">
            <div class="qq flex1">
                <input type="number" class="form-control" ng-model="adminQQ" placeholder="QQ号" required="">
            </div>
            <div class="domain">
                @qq.com
            </div>
        </div>
        <div class="line line4">
            <input type="password" id="inputPassword" class="form-control" ng-model="password" placeholder="密码" required="">
        </div>
        <div class="line line5">
            <input type="password" id="inputPassword" class="form-control password_{{ password == rePassword }}" ng-model="rePassword" placeholder="确认码" required="">
        </div>
        <button class="btn btn_submit" type="submit" ng-click="submit()" ng-disabled="reg.$invalid || password != rePassword">入驻</button>
    </form>
    <div class="no_user">
        <a href="#/group/login">返回登录</a>
    </div>
</div>