<div class="group_reg">
    <div class="text_center">
        <img src="images/top.png">
    </div>
    <form class="form-signin" name="reg">
        <div class="logo text_center"><img src="images/logo.png" alt=""></div>
        <div class="line line1">
            <input type="text" class="form-control" ng-model="groupId" placeholder="群Id" required="" autofocus="">
        </div>
        <div class="line line2">
            <input type="text" class="form-control" ng-model="groupName" placeholder="群名" required="">
        </div>
        <div class="line line3">
            <input type="text" class="form-control" ng-model="adminName" placeholder="群主邮箱">
        </div>
        <div class="line line4">
            <input type="password" id="inputPassword" class="form-control" ng-model="password" placeholder="密码" required="">
        </div>
        <div class="line line5">
            <input type="password" id="inputPassword" class="form-control password_{{ password == rePassword }}" ng-model="rePassword" placeholder="确认码" required="">
        </div>
        <div class="line line6">
            <input ng-init="requestMsg='您好,我是群入驻验证员,请同意我的加群请求'" type="text" class="form-control" ng-model="requestMsg" placeholder="入群请求" required="">
        </div>
        <button class="btn btn_submit" type="submit" ng-click="submit()" ng-disabled="reg.$invalid || password != rePassword">入驻</button>
    </form>
    <div class="no_user">
        <a href="#/group/login">返回登录</a>
    </div>
</div>