html, body {
  width: 100%;
  height: 100%
}
html {
  overflow: hidden
}
body {
  font-family: 'Microsoft Yahei', 微软雅黑, STHeiti, arial, sans-serif;
  overflow: auto
}
.appContainer{ width: 100%; height: 100%; overflow: auto; }
.inline_block {
  display: inline-block
}
.none{ display: none; }
.flex_box {
  display: box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}
.flex1 {
  -webkit-flex-box: 1;
  flex-box: 1;
  -wekit-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1
}
.floatL{ float: left; }
.floatR{ float: right; }
.clear{ clear: both; }
.form-signin {
  width: 480px;
  border-radius: 8px;
  background-color: #f0f0f0;
  margin: 0 auto;
  margin-top: -15px;
  padding-bottom: 30px;
}
.form-signin .logo{
  padding-top: 30px;
}
.top_img_ctn{ height: 306px; }

.login{
  background-color: #156e72;
  width: 100%; 
  height: 100%;
  overflow: hidden;
}
.login .domain{height: 34px; line-height: 34px;}
.login .line {
  margin: 0 auto;
  margin-top: 10px;
  width: 380px;
}
.login .line1{
  margin-top: 30px;
}
.login .line input{
  border:1px solid #dbdbdb;
}
.login .forget_pwd{
  width: 380px;
  margin: 16px auto 0px;
}
.login .btn_submit{
  display: block;
  width: 380px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 24px;
  background-color: #2ea0a1;
  color: #fff;
  height: 40px;
  font-size: 18px;
}
.login .other{width: 380px; margin:0 auto;}
.login .other .left{
  float: left;
  background:url(../images/icon-HR.png) left top no-repeat;
  padding-left: 1.5em;  
  width: 49%
}
.login .other .right{
  float: right;
  width: 49%;
  background:url(../images/icon-admin.png) 6em 0 no-repeat;
  text-align: right;
}
.login .no_user{
  width: 380px;
  margin: 0 auto;
  text-align: center;
  margin-top: 26px;
}
.login .no_user a{
  font-size: 14px;
  color: #fff;
}


.password_false {
  border: 1px solid red !important
}



.hr{
  background-color: #156e72;
  width: 100%; 
  height: 100%;
  overflow: hidden;
}
.hr .line {
  margin: 0 auto;
  margin-top: 10px;
  width: 380px;
}
.hr .line1{
  margin-top: 30px;
}
.hr .line input{
  border:1px solid #dbdbdb;
}
.hr .btn_submit{
  display: block;
  width: 380px;
  margin: 0 auto;
  margin-top: 20px; 
  margin-bottom: 24px;
  background-color: #2ea0a1;
  color: #fff;
  height: 40px;
  font-size: 18px;
}
.hr .other{width: 380px; margin:0 auto;}
.hr .other .left{
  float: left;
  background:url(../images/icon-HR.png) left top no-repeat;
  padding-left: 1.5em;  
  width: 49%
}
.hr .other .right{
  float: right;
  width: 49%;
  background:url(../images/icon-admin.png) 6em 0 no-repeat;
  text-align: right;
}
.hr .no_user{
  width: 380px;
  margin: 0 auto;
  text-align: center;
  margin-top: 26px;
}
.hr .no_user a{
  font-size: 14px;
  color: #fff;
}


.group_login{
  background-color: #156e72;
  width: 100%; 
  height: 100%;
  overflow: hidden;
}
.group_login .domain{height: 34px; line-height: 34px;}
.group_login .line {
  margin: 0 auto;
  margin-top: 10px;
  width: 380px;
}
.group_login .line1{
  margin-top: 30px;
}
.group_login .line input{
  border:1px solid #dbdbdb;
}
.group_login .forget_pwd{
  width: 380px;
  margin: 16px auto 20px;
}
.group_login .btn_submit{
  display: block;
  width: 380px;
  margin: 0 auto;
  margin-bottom: 24px;
  background-color: #2ea0a1;
  color: #fff;
  height: 40px;
  font-size: 18px;
}
.group_login .other{width: 380px; margin:0 auto;}
.group_login .other .left{
  float: left;
  background:url(../images/icon-HR.png) left top no-repeat;
  padding-left: 1.5em;  
  width: 49%
}
.group_login .other .right{
  float: right;
  width: 49%;
  background:url(../images/icon-admin.png) 6em 0 no-repeat;
  text-align: right;
}
.group_login .no_user{
  width: 380px;
  margin: 0 auto;
  text-align: center;
  margin-top: 26px;
}
.group_login .no_user a{
  font-size: 14px;
  color: #fff;
}

.reg{
  background-color: #156e72;
  width: 100%; 
  height: 100%;
  overflow: hidden;
}
.reg .domain{height: 34px; line-height: 34px;}
.reg .line {
  margin: 0 auto;
  margin-top: 10px;
  width: 380px;
}
.reg .line1{
  margin-top: 30px;
}
.reg .line input{
  border:1px solid #dbdbdb;
}
.reg .btn_submit{
  display: block;
  width: 380px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 24px;
  background-color: #2ea0a1;
  color: #fff;
  height: 40px;
  font-size: 18px;
}
.reg .other{width: 380px; margin:0 auto;}
.reg .other .left{
  float: left;
  background:url(../images/icon-HR.png) left top no-repeat;
  padding-left: 1.5em;  
  width: 49%
}
.reg .other .right{
  float: right;
  width: 49%;
  background:url(../images/icon-admin.png) 6em 0 no-repeat;
  text-align: right;
}
.reg .no_user{
  width: 380px;
  margin: 0 auto;
  text-align: center;
  margin-top: 26px;
}
.reg .no_user a{
  font-size: 14px;
  color: #fff;
}


.group_reg{
  background-color: #156e72;
  width: 100%; 
  height: 100%;
  overflow: hidden;
}
.group_reg .domain{height: 34px; line-height: 34px;}
.group_reg .line {
  margin: 0 auto;
  margin-top: 10px;
  width: 380px;
}
.group_reg .line1{
  margin-top: 30px;
}
.group_reg .line input{
  border:1px solid #dbdbdb;
}
.group_reg .btn_submit{
  display: block;
  width: 380px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 24px;
  background-color: #2ea0a1;
  color: #fff;
  height: 40px;
  font-size: 18px;
}
.group_reg .other{width: 380px; margin:0 auto;}
.group_reg .other .left{
  float: left;
  background:url(../images/icon-HR.png) left top no-repeat;
  padding-left: 1.5em;  
  width: 49%
}
.group_reg .other .right{
  float: right;
  width: 49%;
  background:url(../images/icon-admin.png) 6em 0 no-repeat;
  text-align: right;
}
.group_reg .no_user{
  width: 380px;
  margin: 0 auto;
  text-align: center;
  margin-top: 26px;
}
.group_reg .no_user a{
  font-size: 14px;
  color: #fff;
}


.usable_btn {
  height: 34px
}
.text_center {
  text-align: center
}
.list .right .title {
  width: 8em;
  display: inline-block;
  text-align: right;
  padding-right: 0.5em
}
.red {
  color: #f00
}

input.ng-dirty.ng-invalid {
  border: 1px solid red !important;
}
.list .left {
  text-align: right
}
.list .content {
  white-space: pre
}
.user{
  height: 100%;
  position: relative;
  left: 0;
  top:0;
}
.user .top{
  height: 100px;
  position: relative;
  left: 0;
  top: 0;
  z-index: 99999;
}
.user .top .logo{
  background-color: #2bbfbd;
  width: 260px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.user .left {
  width: 260px;
  padding-top: 100px;
  position: absolute;
  top:0;
  left: 0;
  z-index: 9999;
  height: 100%;
  background-color: #121920;
}
.user .left .line{ 
  background-position: left top; 
  font-size: 18px;
  color: #707c87;
  margin-left: 26px;
  height: 34px;
  line-height: 34px;
  padding-left: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
.user .left .line0{
  margin-top: 53px;
  background-image: url(../images/icon-profile.png);
  background-repeat: no-repeat;
}
.user .left .line1{
  background-image: url(../images/icon-resume-list.png);
  background-repeat: no-repeat;
}
.user .left .line2{
  background-image: url(../images/icon-changepwd.png);
  background-repeat: no-repeat;
}
.user .left .line a{
  color: #707c87;
}
.user_picture img{ width: 50px; height: 50px; border-radius: 50%;}
.top_right{ height: 100px; line-height: 100px; padding-right: 25px;}
.top_right a{ font-size: 20px; color: #9e9e9e; padding-left: 10px; padding-right: 10px;}
.logout{ padding-left: 30px; background: url(../images/icon-logout.png) no-repeat left center; }
.user .right{
  padding-left: 260px;
  width: 100%;
  overflow-x: hidden;
  background-color: #121920;
}
.user .profile{ background-color: #eeeeee }
.user .profile .header{ font-size: 24px; color: #2bbfbd; height: 90px; line-height: 90px; margin-left: 40px;}
.user .profile .body{ position: relative; top:0; left: 0; font-size: 18px; color: #787878; margin-left: 40px; margin-right: 40px; margin-bottom: 40px; padding-top: 40px; padding-bottom: 40px; background-color: #fff;}
.user .profile .body .title{ width: 6em; text-align: right; }
.user .profile .body .line{height: 55px; line-height: 55px;}
.user .profile .body .edit_btn{ position:absolute; right: 0px; top: 0px; }