<div class="container login">
      <form class="form-signin" name="reg">
        <h2 class="form-signin-heading">请注册 <a href="#/login" class="small">登录</a></h2>
        <div class="flex_box login_line">
        	<label for="inputEmail" class="inline_block login_txt">Email*</label>
        	<input type="email" id="inputEmail" class="form-control flex1" ng-model="email" placeholder="Email地址" required="" autofocus="">
        </div>
        <div class="flex_box login_line">
        	<label for="inputEmail" class="inline_block login_txt">姓名*</label>
        	<input type="text" id="inputEmail" class="form-control flex1" ng-model="username" placeholder="姓名" required="" autofocus="">
        </div>
        <div class="flex_box login_line">
        	<label for="inputPassword" class="inline_block login_txt">qq* </label>
        	<input type="number" id="inputPassword" class="form-control flex1" ng-model="qq" placeholder="QQ号" required="">
        </div>
        <div class="flex_box login_line">
        	<label for="inputPassword" class="inline_block login_txt">密码* </label>
        	<input type="password" id="inputPassword" class="form-control flex1" ng-model="password" placeholder="Password" required="">
        </div>
        <div class="flex_box login_line">
        	<label for="inputPassword" class="inline_block login_txt">确认码* </label>
        	<input type="password" id="inputPassword" class="form-control flex1 password_{{ password == rePassword }}" ng-model="rePassword" placeholder="Password" required="">
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="submit()" ng-disabled="reg.$invalid || password != rePassword">注册</button>
      </form>
</div>