<div class="hr hr_login" ng-hide="show">
    <div class="text_center">
        <img src="images/top.png">
    </div>
    <form class="form-signin" name="codeForm">
        <div class="logo text_center"><img src="images/logo.png" alt=""></div>
        <div class="line line1">
            <input type="number" id="inputQQGroup" ng-model="groupId" class="form-control" placeholder="请输入QQ群号码" required="" autofocus="">
        </div>
        <div class="line line2">
            <input type="number" id="inputEmail" ng-model="code" ng-max="999999" ng-min="100000" class="form-control" placeholder="请输入6位授权码" required="" autofocus="">
        </div>
        <button class="btn btn_submit" type="submit" ng-click="submit()" ng-disabled="codeForm.$invalid">确定</button>
        <div class="other">
            <a class="left" href="#/group/login">群管理员登录</a>
            <a class="right" href="#/login">普通用户登录</a>
            <div class="clear"></div>
        </div>
        <div class="text_center"></div>
    </form>
</div>
<div class="hr" ng-show="show">
    <div class="top">
        <div ng-include="'tpl/hr/top.html'"></div>
    </div>
    <div class="main">
        <div class="header">群{{groupId}}简历列表</div>
        <div class="list" ng-repeat="item in items">
            <div class="title">
                <div class="floatL ellipsis_txt">
                    <span ng-bind='item.username'></span>-<span ng-bind='item.jobTitle'></span>
                </div>
                <div class="floatR rank">
                    群主/管理员评分:
                    <span ng-bind="item.rank | strRank"></span>
                </div>
                <div class="clear"></div>
            </div>
            <div class="content">
                <div class="line line3">QQ：<span ng-bind="item.qq"></span></div>
                <div class="line line4">工作年限：<span ng-bind="item.yearsOfWorking"></span></div>
                <div class="line line5">学历：<span ng-bind="item.education | strEdu"></span></div>
                <div class="line line5">最新更新：<span ng-bind="item.lastDate | date:'yyyy-MM-dd'"></span></div>
            </div>
            <div class="footer">
                <div class="floatR">
                    <a href="#/hr/resume/{{ item.id }}">查看更多</a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div style="height:1px; width: 100%;"></div>
    </div>
</div>