<div class="hr" ng-hide="show">
    <div class="text_center">
        <img src="images/top.png">
    </div>
    <form class="form-signin" name="codeForm">
        <div class="logo text_center"><img src="images/logo.png" alt=""></div>
        <div class="line line1">
            <input type="number" id="inputQQGroup" ng-model="groupId" class="form-control" placeholder="请输入QQ群号码" required="" autofocus="">
        </div>
        <div class="line line2">
            <input type="number" id="inputEmail" ng-model="code" ng-max="999999" ng-min="100000" class="form-control" placeholder="请输入6位授权码" required="" autofocus="">
        </div>
        <button class="btn btn_submit" type="submit" ng-click="submit()" ng-disabled="codeForm.$invalid">确定</button>
        <div class="other">
            <a class="left" href="#/group/login">群管理员登录</a>
            <a class="right" href="#/login">普通用户登录</a>
            <div class="clear"></div>
        </div>
        <div class="text_center"></div>
    </form>
</div>
<div ng-show="show" class="list">
    <div class="flex_box">
        <div class="left">
            <ul class="list-unstyled">
                <li ng-repeat="item in items"><a href="javascript:void(0)" ng-click="getInfo(item)" ng-bind="item"></a></li>
            </ul>
        </div>
        <div class="right flex1" style="padding-left:0.5em;">
            <div class="flex_box">
                <div class="title">姓名</div>
                <div class="flex1 {{ class }}" ng-bind="name"></div>
            </div>
            <div class="flex_box">
                <div class="title">QQ</div>
                <div class="flex1 {{ class }}" ng-bind='qq'></div>
            </div>
            <div class="flex_box">
                <div class="title">Email</div>
                <div class="flex1" ng-bind="email"></div>
            </div>
            <div class="flex_box">
                <div class="title">最后编辑时间</div>
                <div class="flex1" ng-bind="editDate"></div>
            </div>
            <div class="flex_box">
                <div class="title">简介</div>
                <div class="flex1">
                    <div ng-bind='content' class="content"></div>
                    <div class="red">
                        <br>
                        <br>
                        联系时请说明,联系信息来自QQ群: Coursera-Python交流(ID:371145284),谢谢
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>